# dependencies
node_modules/
.next/
out/

# env
.env
.env.local
.env*.local

# logs
*.log
npm-debug.log*

# local automation artifacts
.omx/
.playwright-cli/

# misc
.DS_Store
*.pem
.vercel
.idea
.vscode
