# dependencies
node_modules/
.next/
out/

# env
.env
.env.local
.env*.local

# local data
data/db.json
data/db.local.json

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel
.idea
.vscode
.omx/
